.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: rgb(91, 62, 250);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  opacity: 0.9;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
